@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
 padding: 0px;
 margin: 0px;
 font-family: "Azeret Mono", monospace;
}

/* Primary Object Start Here */
  .btn{
   padding: 15px 22px;
   box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;  
    opacity: 0.8;
    font-size: 20px;
     font-weight: 600;
     background: transparent;
     cursor: pointer;
  }

  .paragraph{
   color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
  }
  .heading{
   font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
  }
  .section-heading{
   color: rgba(13, 19, 33, 0.7);
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
  }
  .learn-more-btn{
   padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    background: transparent;
    cursor: pointer;
  }
/* Primary Object End Here */

/* Header section Style Start Here */

          /* Navbar Style Start */
 .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 45px 120px;
 }
          /* Navbar Style End */

 .header-cover{
  background: url(../assets/Hero-bg.png);
  width: 1435px;
  height: 650px;
 }
  .header-cover-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 995px;
   padding: 25px 220px;
  }
  .header-cover-content img{
   width: 240.28px;
    height: 240px;
    padding-bottom: 42px;
  }
  .header-cover-content h1{
   font-size: 40px;
    font-weight: 800;
    line-height: 65px;
    text-align: center;
    padding-bottom: 23px;
  }
 .header-cover-content p{
   text-align: center;
   padding-bottom: 30px;
  }
 .header-cover-btn{
  background: black;
  color: white;
  opacity: 1;
 }
/* Header section Style End Here */

/* Main Section Start Here */

       /* why-development-container Start Here */
.why-development-container{
 width: 1180px;
 margin: 70px 145px;
 border-radius: 14px;  
 background: rgba(13, 19, 33, 0.02);
}
.development-container{
 width: 1000px;
 margin: 0px auto;
 padding: 70px;
}
.development-container-content{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.development-container-content h1{
  padding-top: 5px;
  padding-bottom: 20px;
}
..development-container-content p{
 text-align: center;
 padding: 20px 47px;
}

.development-section-1{
 display: flex;
 border-radius: 14px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  margin-top: 50px;
}
.section1-content{
 width: 477px;
 padding: 48px 20px;
 margin-right: 200px;
}
.section1-img{
 padding-top: 30px;
}

.development-section-2{
 display: flex;
 border-radius: 14px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  margin-top: 50px;
}
.section2-content{
 width: 490px;
 padding: 48px 20px;
 margin-left: 100px;
}
.section2-img{
 padding-top: 30px;
}

.development-section-3{
 display: flex;
 border-radius: 14px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  margin-top: 50px;
}
.section3-content{
 width: 477px;
 padding: 48px 20px;
 margin-right: 200px;
}
.section3-img{
 padding-top: 30px;
}
          /* why-development-container End Here */


               /* my-inspiration-container Start Here */

.my-inspiration-container{
 width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 90px 145px;
}
.inspiration-container-content p{
 text-align: center;
 margin-bottom: 48px;
 padding: 22px 144px;
}
.inspiration-container-video{
 box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 14px;
  width: 1120px;
   height: 595px;
}
.inspiration-video{
 margin: 20px auto;
 margin-left: 20px;
}
.inspiration-video iframe{
 border-radius: 14px;
 width: 1076px;
  height: 550px;
  justify-content: center;
}
               /* my-inspiration-container End Here */

              /* my-current-target Section Start Here */
.my-current-target{
 width: 1140px;
 margin: 150px 145px;
 /* background-color: blue; */
}
.my-current-target-content p{
 text-align: center;
 padding: 22px 144px;
}
.my-current-target-details{
 display: flex;
 margin-top: 45px;
}
.details-1{
  width: 364px;
   padding: 40px;
   border-radius: 14px;
   background: rgba(255, 76, 30, 0.05);
   margin-right: 24px;
}
.details-1 h3{
 padding: 20px 0px 10px 0px;
}
.details-1 p{
 padding-bottom: 20px;
}
.details-1 a{
 color: black;
 font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.details-2{
  width: 364px;
   padding: 40px;
   border-radius: 14px;
   background: rgba(0, 76, 232, 0.05);
   margin-right: 24px;
}
.details-2 h3{
 padding: 20px 0px 10px 0px;
}
.details-2 p{
 padding-bottom: 20px;
}
.details-2 a{
 color: black;
 font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.details-3{
  width: 364px;
   padding: 40px;
   border-radius: 14px;
   background: rgba(255, 223, 0, 0.05);
   margin-right: 24px;
}
.details-3 h3{
 padding: 20px 0px 10px 0px;
}
.details-3 p{
 padding-bottom: 20px;
}
.details-3 a{
 color: black;
 font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
              /* my-current-target Section End Here */

             /* support-container Section Start Here */
.support-container{
 width: 1140px;
  height: 313px;
  background: linear-gradient(50.00deg, rgb(0 ,0 , 0), rgba(0, 0, 0, 0.1) 100%), url(../assets/handshake.jpg);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.support-container-parent{
  width: 1044px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 45px;
}
.support-container-content{
  color: white;
}
.support-container-content h3{
  text-align: center;
  font-size: 31px;
    font-weight: 700;
    line-height: 36px;
    padding-bottom: 15px;
}
.support-container-content p{
  color: white;
  text-align: center;
}
.feedback{
  padding-top: 24px;
  align-items: center;
  justify-content: center;
}
.feedback input{
    width: 545px;
    height: 55px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 20px;
}
.feedback button{
  width: 120px;
    height: 57px;
    padding: 13px 18px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-size: 20px;
      font-weight: 600;
      margin-left: 5px;
}
             /* support-container Section End Here */

/* Main Section End Here */

/* Footer Section Start Here */
#footer{
  width: 1440px;
    height: 100px;
    border-radius: 14px;
    background: rgba(13, 19, 33, 0.06);
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer img{
  padding-right: 10px;
}

/* Footer Section End Here */